        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
        html {
            font-family: sans-serif;
            line-height: 1.15;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%
        }
        
        body {
            margin: 0
        }
        
        article,
        aside,
        footer,
        header,
        nav,
        section {
            display: block
        }
        
        h1 {
            font-size: 2em;
            margin: .67em 0
        }
        
        figcaption,
        figure,
        main {
            display: block
        }
        
        figure {
            margin: 1em 40px
        }
        
        hr {
            box-sizing: content-box;
            height: 0;
            overflow: visible
        }
        
        pre {
            font-family: monospace, monospace;
            font-size: 1em
        }
        
        a {
            background-color: transparent;
            -webkit-text-decoration-skip: objects
        }
        
        a:active,
        a:hover {
            outline-width: 0
        }
        
        abbr[title] {
            border-bottom: none;
            text-decoration: underline;
            text-decoration: underline dotted
        }
        
        b,
        strong {
            font-weight: inherit;
            font-weight: bolder
        }
        
        code,
        kbd,
        samp {
            font-family: monospace, monospace;
            font-size: 1em
        }
        
        dfn {
            font-style: italic
        }
        
        mark {
            background-color: #ff0;
            color: #000
        }
        
        small {
            font-size: 80%
        }
        
        sub,
        sup {
            font-size: 75%;
            line-height: 0;
            position: relative;
            vertical-align: baseline
        }
        
        sub {
            bottom: -.25em
        }
        
        sup {
            top: -.5em
        }
        
        audio,
        video {
            display: inline-block
        }
        
        audio:not([controls]) {
            display: none;
            height: 0
        }
        
        img {
            border-style: none
        }
        
        svg:not(:root) {
            overflow: hidden
        }
        
        button,
        input,
        optgroup,
        select,
        textarea {
            font-family: sans-serif;
            font-size: 100%;
            line-height: 1.15;
            margin: 0
        }
        
        button,
        input {
            overflow: visible
        }
        
        button,
        select {
            text-transform: none
        }
        
        [type=reset],
        [type=submit],
        button,
        html [type=button] {
            -webkit-appearance: button
        }
        
        [type=button]::-moz-focus-inner,
        [type=reset]::-moz-focus-inner,
        [type=submit]::-moz-focus-inner,
        button::-moz-focus-inner {
            border-style: none;
            padding: 0
        }
        
        [type=button]:-moz-focusring,
        [type=reset]:-moz-focusring,
        [type=submit]:-moz-focusring,
        button:-moz-focusring {
            outline: 1px dotted ButtonText
        }
        
        fieldset {
            border: 1px solid silver;
            margin: 0 2px;
            padding: .35em .625em .75em
        }
        
        legend {
            box-sizing: border-box;
            color: inherit;
            display: table;
            max-width: 100%;
            padding: 0;
            white-space: normal
        }
        
        progress {
            display: inline-block;
            vertical-align: baseline
        }
        
        textarea {
            overflow: auto
        }
        
        [type=checkbox],
        [type=radio] {
            box-sizing: border-box;
            padding: 0
        }
        
        [type=number]::-webkit-inner-spin-button,
        [type=number]::-webkit-outer-spin-button {
            height: auto
        }
        
        [type=search] {
            -webkit-appearance: textfield;
            outline-offset: -2px
        }
        
        [type=search]::-webkit-search-cancel-button,
        [type=search]::-webkit-search-decoration {
            -webkit-appearance: none
        }
        
         ::-webkit-file-upload-button {
            -webkit-appearance: button;
            font: inherit
        }
        
        details,
        menu {
            display: block
        }
        
        summary {
            display: list-item
        }
        
        canvas {
            display: inline-block
        }
        
        [hidden],
        template {
            display: none
        }
        
        *,
         :after,
         :before {
            box-sizing: border-box
        }
        
         ::selection {
            background: #000;
            color: #fff
        }
        
         ::-moz-selection {
            background: #000;
            color: #fff
        }
        
        html {
            font-size: 16px
        }
        
        @media only screen and (min-width:768px) and (max-width:1359px) {
            html {
                font-size: 15px
            }
        }
        
        @media only screen and (max-width:767px) {
            html {
                font-size: 14px
            }
        }
        
        a {
            text-decoration: none;
            color: inherit;
            -webkit-transition: color .3s;
            transition: color .3s
        }
        
        p {
            line-height: 1.5
        }
        
        .container {
            width: 100%;
        }
        
        .container-fluid {
            width: 1100px;
            margin: 0 auto;
        }
        
        .text-center {
            text-align: center;
        }
        
        .text-left {
            text-align: left;
        }
        
        .text-right {
            text-align: right;
        }
        /* grid desktop */
        
        .row-grid {
            display: flex;
            flex-wrap: wrap;
        }
        
        [class*="col-"] {
            padding: 10px;
        }
        
        .row-grid::after {
            content: "";
            clear: both;
            display: flex;
        }
        
        @media only screen and (max-width: 1000px) {
            .container-fluid {
                width: 100%;
            }
        }
        
        @media only screen and (min-width:893px) {
            .col-1 {
                width: 8.33%;
            }
            .col-2 {
                width: 16.66%;
            }
            .col-3 {
                width: 25%;
            }
            .col-4 {
                width: 33.33%;
            }
            .col-5 {
                width: 41.66%;
            }
            .col-6 {
                width: 50%;
            }
            .col-7 {
                width: 58.33%;
            }
            .col-8 {
                width: 66.66%;
            }
            .col-9 {
                width: 75%;
            }
            .col-10 {
                width: 83.33%;
            }
            .col-11 {
                width: 91.66%;
            }
            .col-12 {
                width: 100%;
            }
            .mb-09 {
                margin-bottom: .9em;
            }
        }
        /**/
        /* grid tablet */
        
        @media only screen and (max-width: 992px) {
            .col-md-1 {
                width: 8.33%;
            }
            .col-md-2 {
                width: 16.66%;
            }
            .col-md-3 {
                width: 25%;
            }
            .col-md-4 {
                width: 33.33%;
            }
            .col-md-5 {
                width: 41.66%;
            }
            .col-md-6 {
                width: 50%;
            }
            .col-md-7 {
                width: 58.33%;
            }
            .col-md-8 {
                width: 66.66%;
            }
            .col-md-9 {
                width: 75%;
            }
            .col-md-10 {
                width: 83.33%;
            }
            .col-md-11 {
                width: 91.66%;
            }
            .col-md-12 {
                width: 100%;
            }
            .btn-geral button {
                font-size: 18px !important;
            }
        }
        /**/
        
        @media only screen and (min-width: 692px) {
            .pl-0 {
                padding-left: 0px;
            }
            .pl-1 {
                padding-left: 1em;
            }
            .pl-2 {
                padding-left: 2em;
            }
            .pl-3 {
                padding-left: 3em;
            }
            .pl-4 {
                padding-left: 4em;
            }
            .pl-5 {
                padding-left: 5em;
            }
            .pr-3 {
                padding-right: 3em;
            }
        }
        /* grid mobile */
        
        @media only screen and (max-width: 692px) {
            .col-sm-1 {
                width: 8.33%;
            }
            .col-sm-2 {
                width: 16.66%;
            }
            .col-sm-3 {
                width: 25%;
            }
            .col-sm-4 {
                width: 33.33%;
            }
            .col-sm-5 {
                width: 41.66%;
            }
            .col-sm-6 {
                width: 50%;
            }
            .col-sm-7 {
                width: 58.33%;
            }
            .col-sm-8 {
                width: 66.66%;
            }
            .col-sm-9 {
                width: 75%;
            }
            .col-sm-10 {
                width: 83.33%;
            }
            .col-sm-11 {
                width: 91.66%;
            }
            .col-sm-12 {
                width: 100%;
            }
            .d-sm-none {
                display: none;
            }
            .btn-geral button {
                width: 100% !important;
                font-size: 14px !important;
                margin: 0 0 5px 0;
            }
            .header-content .border-right {
                border: none !important;
            }
            .header-content .info-usuario h1 {
                font-size: 34px !important;
            }
            .container-valores {
                border-radius: 20px !important;
            }
            .cadastrar-content h1,
            .extrato-bonus h1 {
                font-size: 32px !important;
            }
            .cadastrar-content p button {
                padding: 15px 0 !important;
            }
            .cadastrar-content p,
            .form-style label,
            .form-style .btn-send .btn {
                font-size: 14px !important;
            }
            .container-valores .saldo-bonus {
                font-size: 40px !important;
            }
        }
        /**/
        
        .p-0 {
            padding: 0 !important;
        }
        
        .pt-0 {
            padding-top: 0;
        }
        
        .pt-1 {
            padding-top: 1em;
        }
        
        .pt-2 {
            padding-top: 2em;
        }
        
        .pt-3 {
            padding-top: 3em;
        }
        
        .pr-0 {
            padding-right: 0;
        }
        
        .pr-1 {
            padding-right: 1em;
        }
        
        .pr-2 {
            padding-right: 2em;
        }
        
        .pb-0 {
            padding-bottom: 0px;
        }
        
        .pb-1 {
            padding-bottom: 1em;
        }
        
        .pb-2 {
            padding-bottom: 2em;
        }
        
        .pb-3 {
            padding-bottom: 3em;
        }
        
        .mb-0 {
            margin-bottom: 0;
        }
        
        .m-0 {
            margin: 0;
        }
        
        .mb-1 {
            margin-bottom: 1em;
        }
        
        .mb-2 {
            margin-bottom: 2em;
        }
        
        .mb-3 {
            margin-bottom: 3em;
        }
        
        .mr-0 {
            margin-right: 0;
        }
        
        .mr-1 {
            margin-right: 1em;
        }
        
        .mr-2 {
            margin-right: 2em;
        }
        
        .mr-3 {
            margin-right: 3em;
        }
        
        .aviso-cookies {
            width: 100%;
            height: 190px;
            margin: 0;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-align-items: center;
            align-items: center;
            -ms-justify-content: space-between;
            justify-content: space-between;
            top: 0;
            background-color: rgba(0, 0, 0, .8);
            position: fixed;
            z-index: 9;
            padding: 0 calc((100% - 1120px)/2)
        }
        
        .aviso-cookies .frase-cookies {
            width: 835px;
            font-size: 1rem;
            font-family: Open Sans, Helvetica, Arial, sans-serif;
            font-weight: 400;
            font-weight: 300;
            color: #fff;
            margin: 0
        }
        
        .aviso-cookies .frase-cookies .link-politica {
            text-decoration: underline
        }
        
        .aviso-cookies .frase-cookies .link-politica:hover {
            font-weight: 700
        }
        
        .aviso-cookies .aceitar-cookies {
            width: 220px;
            height: 50px;
            font-size: 1rem;
            font-family: Open Sans, Helvetica, Arial, sans-serif;
            font-weight: 400;
            color: #fff;
            background-color: #156083;
            border: none;
            border-radius: 0;
            font-weight: 600;
            cursor: pointer;
            outline: none;
            transition: .3s ease
        }
        
        .aviso-cookies .aceitar-cookies:hover {
            background-color: #156083
        }
        
        @media only screen and (max-width:1359px) {
            .aviso-cookies {
                padding: 0 10%
            }
            .aviso-cookies .frase-cookies {
                font-size: 14px;
                width: 75%
            }
            .aviso-cookies .aceitar-cookies {
                font-size: 14px;
                width: 180px
            }
        }
        
        @media only screen and (max-width:1359px) and (max-width:767px) {
            .aviso-cookies {
                -ms-flex-direction: column;
                flex-direction: column;
                -ms-align-items: center;
                align-items: center;
                padding: 20px
            }
        }
        
        @media only screen and (max-width:1359px) and (max-width:767px) {
            .aviso-cookies .frase-cookies {
                font-size: 12px;
                width: 100%;
                text-align: center
            }
        }
        
        @media only screen and (max-width:1359px) and (max-width:767px) {
            .aviso-cookies .aceitar-cookies {
                font-size: 12px;
                width: 50%;
                text-align: center;
                margin-left: 0;
                margin-top: 10px
            }
        }
        
        .d-none {
            display: none;
        }
        
        .d-block {
            display: block;
        }
        
        .f-none {
            float: none !important;
        }
        
        .flash {
            padding: 13px 10px;
            font-size: 13px;
            font-family: Asap, sans-serif;
            text-transform: uppercase;
            margin: 10px;
        }
        
        .flash-sucesso {
            background-color: #b1ecb7;
            color: #6da647;
        }
        
        .flash-erro {
            background-color: #f99090;
            color: #222;
        }
        
        .banner-login .home-foguete {
            max-height: 540px;
            height: 100%;
            position: absolute;
            width: 50%;
        }
        
        .login {
            background-color: #eee;
            height: auto;
        }
        
        .login .esqueci-senha {
            font-size: 14px;
            text-align: right;
            clear: both;
            padding-top: 20px;
        }
        
        .login .logo {
            text-align: right;
            padding: 20px 0;
            margin-bottom: 30px;
        }
        
        .login .logo-dois {
            margin-bottom: 25px;
        }
        
        .form-row {
            display: flex;
            margin-bottom: 10px;
        }
        
        .login .form-row label {
            width: 35%;
            padding-top: 10px;
            display: block;
            text-transform: uppercase;
            font-family: Open sans, sans-serif;
            font-size: 18px;
        }
        
        .login .form-row input,
        .form-style input {
            background: white;
            border: 1px solid #cecece;
            border-radius: 10px;
            height: 45px;
            padding: 0 15px;
            width: 65%;
        }
        
        .login [type="submit"] {
            background: #ee7203;
            color: #fff;
            border: none;
            padding: 15px 40px;
            border-radius: 10px;
            font-size: 24px;
            text-transform: uppercase;
            font-weight: 700;
            font-family: Open sans;
            float: right;
            cursor: pointer;
            transition: .2s ease-in-out;
        }
        
        .login [type="submit"]:hover {
            background: #251A3A;
        }
        
        .login .content {
            padding-bottom: 60px;
        }
        
        .login .criar-senha {
            font-family: Open sans;
        }
        
        .login .criar-senha h2 {
            color: #ee7203;
            text-transform: uppercase;
            font-size: 24px;
        }
        
        .login .criar-senha p {
            font-size: 17px;
            margin-bottom: 30px;
        }
        
        footer {
            padding: 20px 0;
            background-color: rgb(230, 230, 230);
        }
        
        footer p {
            font-size: 12px;
            font-family: Open sans;
            margin: 0;
        }
        
        .error-login {
            background: #e34343;
            padding: 20px 30px;
            margin-bottom: 30px;
            color: white;
            text-transform: uppercase;
        }
        
        .header-content {
            background-color: #eee;
        }
        
        .header-content .border-right {
            border-right: 1px solid #222;
        }
        
        .header-content .info-usuario h2 {
            font-size: 22px;
            font-family: Open sans;
            font-weight: 400;
            margin: 0;
            padding-top: 15px;
        }
        
        .header-content .info-usuario h1 {
            font-family: Oswald;
            font-weight: 500;
            font-size: 44px;
            text-transform: uppercase;
            margin: 0;
        }
        
        .header-content .info-usuario p {
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
            font-family: Open sans;
        }
        
        .header-content .info-usuario p span {
            background: #ee7203;
            border-radius: 100%;
            font-weight: bold;
            color: white;
            padding: 0px 6px 1px 6px;
            font-size: 15px;
            cursor: pointer;
        }
        
        .valores-float {
            position: absolute;
            top: -2px;
        }
        
        @media only screen and (max-width: 693px) {
            .valores-float {
                position: relative;
                top: 0;
            }
        }
        
        .container-valores {
            text-align: center;
            border: 2px solid rgb(192, 192, 192);
            font-family: Oswald;
            border-radius: 0 0 20px 20px;
            padding: 25px 30px;
            background-color: #eee;
        }
        
        .container-valores h2 {
            font-size: 24px;
            font-weight: 500;
            margin: 0;
            text-transform: uppercase;
        }
        
        .container-valores .saldo-bonus {
            color: #009933;
            font-size: 46px;
            font-weight: 500;
            margin-bottom: 15px;
        }
        
        .container-valores p {
            font-size: 18px;
            text-transform: uppercase;
            margin: 0;
            font-weight: 500;
        }
        
        .container-valores .valor {
            color: #009933;
        }
        
        .container-valores .valor-utilizado,
        .extrato-bonus .valor-utilizado {
            color: #ff0000;
        }
        
        .btn-geral button {
            background-color: #808080;
            color: #fff;
            border: none;
            border-radius: 10px;
            padding: 15px;
            width: 27%;
            font-size: 23px;
            text-transform: uppercase;
            font-weight: 700;
            font-family: Open sans;
            cursor: pointer;
            transition: .2s
        }
        
        .btn-geral button:hover {
            background-color: #5e5e5e;
        }
        
        .table-content {
            margin-bottom: 30px;
        }
        
        .table-content h2 {
            font-size: 24px;
            font-family: Oswald;
            font-weight: 500;
            text-transform: uppercase;
            margin: 0;
            margin-top: 40px;
        }
        
        .table-content .status {
            font-size: 16px;
            text-transform: uppercase;
            color: #808080;
            font-family: Open sans;
        }
        
        .table-content .status-reprovado {
            color: #ff0000
        }
        
        .table-content .status-aprovado {
            color: #009933;
        }
        
        table {
            margin-top: 10px;
            width: 100%;
            border-collapse: collapse;
        }
        
        table thead th {
            background-color: #ee7203;
            color: #fff;
            padding: 7px 15px;
            font-size: 14px;
            text-transform: uppercase;
            font-family: Open sans;
            border-right: 1px solid #eee;
        }
        
        table thead th:nth-last-child() {
            border: none;
        }
        
        table tbody tr {
            margin: 0;
            padding: 0
        }
        
        table tbody tr td {
            border: 1px solid #cecece;
            padding: 10px 15px;
            font-size: 16px;
            font-family: Open sans, sans-serif;
        }
        
        .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }
        
        .form-style .input {
            margin-bottom: 8px;
            width: 70%;
        }
        
        .form-style input {
            width: 100%;
        }
        
        .form-style [type=file] {
            background-color: #cecece;
        }
        
        .file {
            opacity: 0;
            position: absolute;
        }
        
        .file-input label {
            display: block;
            position: relative;
            width: 100% !important;
            padding: 15px 0;
            border-radius: 10px;
            background: #e6e6e6;
            border: 1px solid #cecece;
            display: flex;
            text-transform: uppercase;
            align-items: center;
            justify-content: center;
            color: #000;
            font-weight: 400;
            cursor: pointer;
            transition: transform .2s ease-out;
        }
        
        .file-name {
            position: absolute;
            left: 100%;
            font-size: .85rem;
            color: #888;
            width: 100%;
            padding: 10px;
        }
        
        .form-style label {
            width: 30%;
            padding-top: 10px;
            font-size: 18px;
            font-family: Open sans;
            text-transform: uppercase;
        }
        
        .form-style .btn-send {
            display: flex;
            width: 70%;
        }
        
        .form-style .btn-send .btn {
            width: 85%;
            margin-top: 5px;
            border-radius: 10px;
            border: none;
            color: white;
            text-transform: uppercase;
            font-family: Open sans;
            font-weight: 560;
            font-size: 22px;
            cursor: pointer;
            transition: .2s;
            text-align: center;
            padding: 10px;
        }
        
        .form-style .btn-send .btn:nth-child(1):hover {
            background-color: #d16303;
        }
        
        .form-style .btn-send .btn:nth-child(1) {
            background-color: #ee7203;
            margin-right: 5px;
        }
        
        .form-style .btn-send a.btn {
            background-color: #808080;
        }
        
        .form-style .btn-send a.btn:hover {
            background-color: #646464;
        }
        
        .cadastrar-content h1,
        .extrato-bonus h1 {
            font-size: 42px;
            font-family: Oswald;
            font-weight: 500;
            text-transform: uppercase;
            color: #ee7203;
        }
        
        .cadastrar-content p {
            font-size: 18px;
            font-family: Open sans;
            text-transform: uppercase;
        }
        
        .cadastrar-content p button {
            background-color: #fff;
            color: #000;
            transition: .2s;
            padding: 15px 20px;
            border: 1px solid #808080;
            border-radius: 10px;
            cursor: pointer;
            width: 30%;
        }
        
        .cadastrar-content p a:nth-child(1) {
            margin-left: 15px;
        }
        
        .cadastrar-content p button:hover,
        .cadastrar-content p button.active {
            background-color: #808080;
            color: white;
        }
        
        a.anexo-nf:hover {
            text-decoration: underline;
        }
        
        .cnpj-existe {
            position: fixed;
            background-color: rgba(0, 0, 0, .7);
            width: 100%;
            height: 100%;
            top: 0;
        }
        
        .cnpj-existe .popup {
            color: #808080;
            background: white;
            margin: 0 auto;
            margin-top: 0px;
            top: 100px;
            width: 42%;
            padding: 1em 3em 2em;
            display: block;
            margin-top: 5%;
            text-align: center;
            font-family: Open sans;
        }
        
        .cnpj-existe .popup p {
            font-weight: 600;
            font-size: 18px;
            line-height: 1.4;
        }
        
        .cnpj-existe .popup h2 {
            color: #ee7203;
            text-transform: uppercase;
            font-size: 32px;
            font-family: Oswald;
            font-weight: 500;
        }
        
        .cnpj-existe .popup .close {
            padding: 10px 30px;
            border: 2px solid #e6e6e6;
            border-radius: 10px;
            background: transparent;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
        }
        
        .info-warning {
            font-size: 18px;
            background-color: rgb(250, 202, 43);
            color: rgb(56, 56, 56);
            padding: 5px 15px;
        }
        
        .extrato-bonus .limit-width {
            width: 75%;
        }
        
        .extrato-bonus {
            font-family: Open sans;
        }
        
        .extrato-bonus p {
            font-size: 18px;
        }
        
        .extrato-bonus .alter-font,
        .extrato-bonus .valor-utilizado {
            font-family: Oswald;
            font-size: 24px;
            font-weight: 500;
            text-transform: uppercase;
            padding-right: 10px;
        }
        
        .extrato-bonus .btn-geral button {
            width: 50% !important;
            margin-top: 30px;
        }
        
        .table-responsive {
            display: block;
            width: 100%;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }