.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

.chamada-como-contratar
    border-top 1px solid $cinza
    padding $rem(80) 0
    a
        display flex
        width 100%
        align-items center
        justify-content center
        .texto
            max-width $rem(360)
            color $azulEscuro
            h3
                montserrat 28 bold
                margin 0 0 .5em
                text-transform uppercase
                transition color .3s
            p
                opensans 16
                margin 0
        img
            max-width 100%
            margin 0 $rem(32) 0 $rem(64)
        .seta
            display block
            width 30px
            height 30px
            background $img('seta-simples-bco.svg') no-repeat center $azulEscuro
            background-size 7px
            transition background .3s
        &:hover
            h3
                color $verde
            .seta
                background-color $verde
    +mobile()
        padding $rem(40) 0
        a
            flex-direction column
            .texto
                text-align center
                h3
                    font-size 20px
            img
                margin $rem(20) 0 $rem(10)
